@charset "UTF-8";

/*TODAS AS DEMAIS MIDIAS*/

/*Typical Device Breakpoint

Celular: 600px-768px
Tablet: 768px-992px
Deskto: 992px-1200px
Grandes telas: Acima de 1200px

*/



@media print {
    body{
        background: url(/EXERCICIOS/ex026/mq004/imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: rgba(255, 255, 255, 0.418);
    }

    #print{
        display: block;
    }
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 600px) and (max-width: 768px){
    body{
        background: url(/EXERCICIOS/ex026/mq004/imagens/back-phone.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    #phone{
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background: url(/EXERCICIOS/ex026/mq004/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    #tablet{
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background: url(/EXERCICIOS/ex026/mq004/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    #pc{
        display: block;
    }
}

@media screen and (min-width: 1200px){
    body{
        background: url(/EXERCICIOS/ex026/mq004/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    #tv{
        display: block;
    }
}